<div class="w-[100%] mb-6">
  <h3 class="h-16 flex justify-center items-center mb-0 font-bold space-x-2 md:text-4xl text-2xl">Fraud Number Details</h3>
  <div class="grid grid-cols-1 mt-3 mb-3" *ngIf="fraudNumber" >
    <!-- left card -->
    <div class="flex flex-col rounded-xl shadow-lg px-2 m-1 py-2">
      <div class="text-center font-bold mb-0">
        <i class="fa solid fa-phone text-sm font-bold text-blue-400 mb-2"></i>
        <span class="text-sm text-gray-600 px-3 font-bold">Fraud Number</span>
        <p class="mb-0 text-gray-600 md:text-3xl text-lg">{{fraudNumber.fraudNumber}}</p>
      </div>
      <hr>      
      <div class="grid grid-cols-3 mt-1 px-6 text-gray-700 text-sm md:text-lg">
        <p class="font-semibold">Total Reports
          <span class="text-start block font-light text-small">
            {{fraudNumber.totalReport}}
          </span>
        </p>
        <p class="font-semibold">Date Created
          <span class="text-start block font-light text-small">
            {{fraudNumber.createdAt }}
          </span>
        </p>
        <p class="font-semibold">Modified Date
          <span class="text-start block font-light text-small">
            {{fraudNumber.modifiedAt }}
          </span>
        </p>
      </div>
    </div>
    <!-- right card -->
    <div class="mt-5 rounded-xl shadow-lg flex-1 px-3 py-2">
      <div class="grid grid-cols-2 py-6">
        <div>
          <h5>Risk Level</h5>
          <button class="text-blue-500 font-semibold">{{fraudNumber.risk_Level | titlecase}}</button>
        </div>
        <div class="flex justify-between">
          <div>
            <h5>Visibility Status</h5>
            <span class="font-semibold text-blue-500">{{fraudNumber.visibility.toString() | titlecase}}</span>
          </div>
          <button class="px-6 py-3 bg-yellow-700 text-white" (click)="changeVisibilityStatus(fraudNumber.fraudNumber)">Change Visibility</button>
        </div>
      </div>
    </div>
  </div>
</div>