<ng-container *ngFor="let card of cardInfo">
  <div class="md:flex items-center justify-center gap-2 mb-3">
    <div 
      class="
        text-center
        hover:cursor-pointer
        {{card.color}} 
        text-white md:w-[250px] h-[120px]
        rounded-lg px-3 py-2
        "
        (click)="navigateTo(card.url)"
        >
      <div class="text-4xl flex text-center"><i [class]="card.icon"></i></div>
      <div class="md:flex flex-col items-center text-center text-1xl justify-center">
        <p>{{card.title}}</p>
        <p>{{card.total}}</p>
      </div>
    </div>
  </div>
</ng-container>

