<!-- Header Section -->
<div class="flex justify-between items-center bg-orange-500 h-[60px] px-10 w-[100%]">
  <div>
    <i (click)="showSideBar()" class="fa duotone fa-bars text-4xl hover:cursor-pointer" [ngClass]="{hidden: showSideBar$}"></i>
    <i (click)="closeSideBar()" class="fa solid fa-times text-4xl hover:cursor-pointer" [ngClass]="{hidden: !showSideBar$}"></i>
  </div>
  <ng-template #loginBtn>
    <button class="bg-white px-4 rounded-lg font-bold text-lg text-pink-800 py-2" (click)="login()">
      <i class="fa fa-sign-in"></i>Login
    </button>
  </ng-template>
  <ul class="hidden md:flex justify-between items-center text-white text-center font-light" *ngIf="(currentUser$ | async)?.isAuthenticated; else loginBtn">
    <li class="px-4 hover:cursor-pointer" routerLink="">Home</li>
    <li class="px-4 hover:cursor-pointer" routerLink="report">Reports</li>
    <li class="px-4 hover:cursor-pointer" routerLink="fraud">Fraud</li>
    <li class="px-4 hover:cursor-pointer" routerLink="case-file">Case</li>
    <li class="px-4 text-white bg-pink-900 py-1 rounded-full font-light">{{ (currentUser$ | async)?.userName | titlecase }}</li>
    <li class="px-4 hover:cursor-pointer"><a (click)="navigateToManageProfile()"><i class="fa solid fa-user"></i></a></li>
    <li class="px-4 hover:cursor-pointer"><a (click)="logout()"><i class="fa fa-power-off"></i></a></li>
  </ul>
</div>

<!-- Sidebar section -->
<sidebar *ngIf="showSideBar$" [showSideBar$]="showSideBar$" [currentUser$]="currentUser$"></sidebar>

<!-- Main content section -->
<div 
  class="mt-[40px] 
  flex-1
  container
  justify-center
  items-center
  ">

  <div class="flex flex-col justify-center px-10">
    <router-outlet>

    </router-outlet>
  </div>
</div>

<!-- Footer section -->

<footer class="md:fixed bottom-0 left-0 right-0 ">
  <h5 class="text-center font-bold mb-2 mt-6">Afrilogic Solutions <span class="text-blue-600">Copyright@2022</span></h5>
</footer>

      