<div 
class="flex justify-between 
align-middle absolute left-[200] 
right-0 top-0 w-[calc(100vw-200px)]
bg-slate-400 h-[60px] px-2 py-2
"
>
  <app-logo></app-logo>
  <ng-template #loginBtn>
    <button class="
    bg-slate-500 
    px-4
    text-center 
    rounded-lg 
    text-white 
    mr-4
    text-1xl" (click)="login()">
    <i class="fa fa-sign-in"></i>Login</button>
  </ng-template>
  <div 
    class="
    flex
    justify-between 
    text-center
    mr-4
    text-white
    text-[20px]
    " 
    *ngIf="(currentUser$ | async)?.isAuthenticated; else loginBtn">
    <ul class="flex justify-between">
      <li class="px-3 text-pink-800"><a><strong>{{ (currentUser$ | async)?.userName }}</strong></a></li>
      <li class="px-3 hover:cursor-pointer"><a (click)="navigateToManageProfile()"><i class="fa solid fa-user"></i></a></li>
      <li class="px-3 hover:cursor-pointer"><a (click)="logout()"><i class="fa fa-power-off"></i></a></li>
    </ul>
  </div>
</div>

<div class="flex justify-center absolute top-0 left-0" *ngIf="(currentUser$ | async)?.isAuthenticated">
  <div class="w-[200px] bg-slate-800 h-[100vh] pt-[10px] text-white" id="sidebar">
    <ul class="text-[20px] text-start mx-2">
      <li class="mb-4 bg-slate-400 py-6 rounded-lg hover:bg-slate-600">
        <a
        class="px-6"
        routerLink="/"
        >
          <i class="fa duotone fa-bars"></i>
          Home
        </a>
      </li>
      <li class="mb-4 bg-slate-400 py-6 rounded-lg hover:bg-slate-600">
        <a class="px-6"
        routerLink="/identity/users" 
        routerLinkActive="true"
        >
        <i class="fa duotone fa-users"></i>
        Users
        </a>
      </li>
      <li class="mb-4 bg-slate-400 py-6 rounded-lg hover:bg-slate-600">
        <a class="px-6"
        routerLink="/identity/roles"
        routerLinkActive="true"
        >
        <i class="fa solid fa-gears"></i>
        Roles
        </a>
      </li>
      <li class="mb-4 bg-slate-400 py-6 rounded-lg hover:bg-slate-600">
        <a class="px-6"
        routerLink="/tenant-management/tenants"
        >
        <i class="fa solid fa-wrench"></i>
          Tenants
        </a>
      </li>
    </ul>
  </div>

  <div class="mt-[100px] flex-1">
    <div class="container w-[calc(100vw-300px)] mx-auto">
      <router-outlet></router-outlet>
    </div>
  </div>

</div>

<footer class=" w-[ calc(100vw -200px)] absolute left-[200px] right-0 bottom-0 mb-3">
  <h5 class="text-center font-bold">Afrilogic Solutions <span class="text-blue-600">Copyright@2022</span></h5>
</footer>
      