<!-- Loading animation -->
<ng-template #loading>
  <p class="bg-blue-600 text-center mt-12 rounded-lg px-6 py-3 text-white animate-pulse">Loading.....</p>
</ng-template>

<!-- Main frame -->
<div class="flex flex-col justify-center">
  <div class="flex justify-between mb-4 py-2 px-2">
    <app-search (searchTextChanged)="onSearchedText($event)"></app-search>
    <div class="flex px-2">
      <button class="bg-violet-600 px-2 py-2 rounded-xl font-semibold text-white" (click)="createInvestigation()">
        <i class="fa fa-plus"></i> Add Investigation
      </button>
    </div>
  </div>
  <!-- table area -->
  <div class="overflow-x-auto">
    <table class="w-[100%]">
      <thead>
        <tr class="bg-blue-500 text-gray-700 uppercase text-sm leading-normal text-start">
          <th class="text-start px-2">ID</th>
          <th class="py-3 px-6 text-left">Report Id</th>
          <th class="py-3 px-6 text-left">Created By</th>
          <th class="py-3 px-6 text-left">Assigned To</th>
          <th class="py-3 px-6 text-center">Status</th>
          <th class="py-3 px-6 text-center">Actions</th>
        </tr>
      </thead>
        <!-- table body -->
        <ng-container *ngIf="investigations.items != null; else loading" >
          <tbody class="text-gray-700 text-sm font-medium" 
            *ngFor="let invest of investigations.items | 
            paginate: {itemsPerPage: 3, currentPage: page, totalItems: investigations.totalCount}">
            <tr *ngIf="searchedTextEntered === '' || invest.reportId.trim().toLowerCase().includes(searchTextEntered)"
              class="border-b border-gray-200 hover:bg-gray-100">
              <td class="py-3 px-6 text-left whitespace-nowrap">{{invest.id }}</td>
              <td class="py-3 px-6 text-start whitespace-nowrap">{{invest.reportId}}</td>
              <td class="py-3 px-6 text-left whitespace-nowrap">{{invest.creatorId | slice:0:10}}</td>
              <td class="py-3 px-6 text-start whitespace-nowrap">{{invest.assignedUserId| slice:0:10}}</td>
              <td class="py-3 px-6 text-left whitespace-nowrap">
                <div class="flex justify-evenly hover:cursor-pointer font-bold">
                  <button *ngIf="invest.investigationStatus == 0" class="px-3 py-1 rounded-xl bg-yellow-700 text-white hover:bg-yellow-300">Pending</button>
                  <button *ngIf="invest.investigationStatus == 1" class="px-3 py-1 rounded-xl bg-green-800 text-white hover:bg-green-400">Opened</button>
                  <button *ngIf="invest.investigationStatus == 2" class="px-3 py-1 rounded-xl bg-red-700 text-white hover:bg-red-400">Closed</button>
                </div>
              </td>
              <td class="py-3 px-4 whitespace-nowrap flex justify-between hover:cursor-pointer">
                <div class="hover:text-2xl" (click)="deleteInvestigation(invest.id)"><i class="fa solid fa-trash text-red-600"></i></div>
                <div class="hover:text-2xl" (click)="editInvestigation(invest.id)"><i class="fa solid fa-edit text-green-600"></i></div>
                <div class="hover:text-2xl"><i class="fa solid fa-user text-blue-600 hover"></i></div>
              </td>
            </tr>
          </tbody>
        </ng-container>
          
    </table>
    <pagination-controls (pageChange)="pageChangeEvent($event)"></pagination-controls> 
  </div>  
  <!-- End of table -->
</div>
<!--End of main frame  -->


<!-- Modal -->
<abp-modal [(visible)]="isModalOpen">
  <ng-template #abpHeader>
    <h4 class="text-blue-400 font-bold">Create Investigation</h4>
  </ng-template>

  <ng-template #abpBody>
    <form [formGroup]="investigationForm" (ngSubmit)="save()">
      <!-- Report Id -->
      <div class="form-group" class="py-1">
        <label for="reportId" class="font-bold mb-2">Report ID</label><span class="text-red-800 font-bold"> * </span>
        <input type="text" id="reportId" class="form-control" formControlName="reportId" autofocus/>
      </div>
      <!-- Investigation Status -->
      <div class="form-group" class="py-1">
        <label for="status" class="font-bold mb-2">Status</label>
        <select class="form-control" id="investigationStatus" formControlName="investigationStatus">
          <option [ngValue]="null">Chose Status</option>
          <option [ngValue]="status.value" *ngFor="let status of investigationStatusOptions"> {{ status.key }}</option>
        </select>
      </div>

      <!-- Assign User Id -->
      <div class="form-group" class="py-1">
        <label for="reportId" class="font-bold mb-2">Assigned User ID</label>
        <input type="text" id="assignedUserId" class="form-control" formControlName="assignedUserId"/>
      </div>

    </form>
  </ng-template>
  <ng-template #abpFooter>
    <button type="button" class="btn btn-secondary" abpClose>
      Close
    </button>
    <button class="btn btn-primary" (click)="save()" [disabled]="investigationForm.invalid">
          <i class="fa fa-check mr-1"></i>
          Save
    </button>
  </ng-template>
</abp-modal>
<!-- End -->